<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSContactsUsageDescription</key>
	<string>Для импорта получателей подарков из контактов</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Для записи голосового запроса</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Для голосового заполнения анкеты</string>
	<key>CFBundleIdentifier</key>
	<string></string>
</dict>
</plist>
